basil-daq
coloredlogs
gitpython
matplotlib
numba
numpy
online_monitor>=0.6.0
pandas
pexpect
pixel-clusterizer
PyQt5
pyeudaq
pyqtgraph
python-telegram-bot
pyyaml
pyzmq
scipy
tables
tqdm
uncertainties

# Test / simulation dependencies
# cocotb
# cocotb-bus
